/*
Name: Tanner Winchester
*/

/* Style rules for hero image and header */


.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/landingImage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

header {
    font-family: 'Acme', sans-serif;
}


/************** Basic styling *******************/

main {
    font-family: 'Acme', sans-serif;
}

.navbar-brand,
.navbar-nav a {
    font-family: 'Acme', sans-serif;
}


.welcome {
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 5em;
    font-family: 'Acme', sans-serif;
}
.bg-dark-nav{
    background-color: black;
}


 h1 {
    color: rgb(28, 69, 156);
    font-size: 100px;
}


/****** QOUTES SECTION STYLES *********/ 

.qoute {
    background: rgb(231, 228, 228);
}






/******** FAQ SECTION STYLING **********/

    .faqs {
        font-family: 'Acme';
        font-size: 87.5%;
        width: 100%;
        margin: 0 auto;
        padding: 50px;
        background: rgb(236, 236, 236);
    }
    h1 { 
        font-size: 150%;
    }
    h2 {
        font-size: 120%;
        padding: .25em 0 .25em 25px;
        cursor: pointer;
        background: url(../images/plus.png) no-repeat left center;
    }
    h2.minus {
        background: url(../images/minus.png) no-repeat left center;
    }
    a {
        color: black;
        text-decoration: none; 
    }
    a:focus, a:hover { 
        color: blue; 
    }

    .js-toggle {
        display: none;
    }

    ul {
        padding-left: 45px;
    }
    li {
        padding-bottom: .25em;
    }
    p {
        padding-bottom: .25em;
        padding-left: 25px;
    }



    /************** NEWSLETTER SECTION STYLES ******************/

.register {
    background: rgb(236, 236, 236);
    width: 100%;
}



.error {
    color: red;
}



/*************** CONTACT SECTION STYLING **************/


.contact {
    background: rgb(231, 228, 228);
}



/* Media Query for Tablet Viewport */
@media (max-width: 768px) {  

    /* Tablet Viewport: Show tablet-desktop class, hide mobile class */
    .tablet-desktop {
        display: block;
    }

    .mobile {
        display: none;
    }
    
    /* Tablet Viewport: Nutrition hero text */
    #nutr.display-1 {
        font-size: 6em;
    }
    
    /* Tablet Viewport: Style rule for map */
    .map {
        width: 600px;
        height: 450px;
    }
    
     /* Tablet Viewport: Style rule for form element */
    form {
        width: 80%;
        margin: 0 auto;
    }

}

/* Media Query for Desktop Viewport */
@media (min-width: 992px) {  

    /* Desktop Viewport: Style rules for form */
    form {
        width: auto;
        margin-bottom: 2%;
    }
    
    .form-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 20px; 
    }
    
    .btn {
        grid-column: 1 / span 3;
    }

}


