
/* Tanner Winchester 11/9/2020 */

@font-face {
	font-family: 'Pacifico';
	src: url(../fonts/Pacifico-Regular.ttf);
}
@font-face {
    font-family: 'robotoregular';
    src: url(../fonts/roboto-regular-webfont.woff) format('woff2'),
         url(../fonts/roboto-regular-webfont.woff2) format('woff');
    font-weight: normal;
    font-style: normal;

}
	 
#outerwrapper {	
	border-radius: 15%;
	width: 70%;
	margin: auto;
	background: rgba(243,205,170, 0.4);
}
html {
	background-image: url(../images/jewelry.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}
h1 {
	font-family: 'Pacifico';
	font-size: 4em;
}
h2 {
	font-family: 'robotoregular';
	font-size: 2em;
	font-style: italic;
}

.addrightmargin {
	margin-right: 10%;
}

nav ul{
	list-style: none;
	font-size: 1.5em;
	float: none;
}


footer {
	font-size: 1em;
	text-align: center;
	padding: 10px;
}
main {
	background: linear-gradient(#ffffff, #f0f9e6);
	padding: 10px;
	margin: 20px;
	border-radius: 2em;
	font-size: 1.25em;
	font-family: Arial, Helvetica, sans-serif;
}

img {
	float: left;
	border-radius: 75%;
}
