/* Tanner Winchester 11/19/2020 */

/* Mobile view */
    .bar ul {
    background-color: #152420;
    }
    .bar > ul > li {
        display: block;
    }
    h1 {
        display: none;
    }
    main {
        background-image: none;
    }
    body {
        background: linear-gradient(rgb(83, 155, 236),white);
        background-repeat: no-repeat;
    }

/* Tablet View 641 pixels*/
@media only screen and (min-width: 641px) {
    .bar ul {
        background-color: #152420;
    }
    .bar > ul > li {
        display: inline;
    }
    main {
        background-image: url(../images/heroback.jpg);
        background-repeat: no-repeat;
     }
     body {
         background: #fff;
     }
     h1 {
         display: block;
     }

     .notfinished {
        margin-bottom: 145px;
     }

}
