.grid {
  display: flex;
  flex-wrap: wrap;
  height: 450px;
  width: 450px;
}

body {
  background-color: rgb(51, 51, 168);
}

.Aligner {
  display: flex;
  align-items: center;
  min-height: 55em;
  justify-content: center;
}

.Aligner-item {
  flex: 1;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

.Aligner-item--fixed {
  flex: none;
  max-width: 50%;
}
