/*Tanner Winchester*/
@font-face {
	font-family: 'Roboto';
	src: url(../fonts/RobotoSlab-VariableFont_wght.ttf);
}
body {
    margin: 0;
    background: #55d6aa;
    font-family: 'roboto';
    font-weight: 400;


    min-height: 100vh;

    display: flex;
    flex-direction: column;
}
.formwrapper {
    background-color: white;
    margin: auto;
    width: 70%;
    border-radius: 5%;

}
.sampleswrapper {
    background-color: white;
    margin: auto;
    width: 70%;
    padding: 25px;
    border: 4px solid black;
    border-radius: 10%;
}
.wrapper {
    background-color: white;
    margin: auto;
    width: 70%;
    padding-left: 10px;
    padding-right: 10px;
    border: 4px solid black;
    border-radius: 10%;
}
.container {
    width: 80%;
    margin: 0 auto;

}

header {
    background-color: black;
}
footer {
    background-color: black;
    text-align: center;
    padding: 30px;

    margin-top: auto;
}
header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

nav a:hover {
    color: #55d6aa;

}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #55d6aa;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 225ms;
}

nav a:hover::before {
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 45px;

    position: relative;
}
.boiselogo {
    display: block;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 5px;
}
.myself {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 0;
    border: 3px solid black;
    border-radius: 50%;
}
.logo {
    float: left;
    padding: 10px 0;
}
h1 {
    padding-top: 10px;
}
main {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    text-align: center;
    color: #222;
}
form {
    text-align: left;
    font-weight: bold;
    padding: 10px;
    border: 4px solid black;
    border-radius: 5%;

}
input[type=submit] {
    width: 7em;  height: 3em;
    font-weight: bold;
}
.buttonholder {
    text-align: center;
}

ul {
    list-style: none;
}
hr {
    border: 2px solid black;
}
