/* Tanner Winchester, 10/30/2020 */
@font-face {
    font-family: Trispace;
    src: url('..fonts\static\Trispace-Regular.ttf');
  }
  @font-face {
    font-family: 'source_sans_proregular';
    src: url('..fonts\sourcesanspro-regular-demo.html') format('woff2'),
         url('..fonts\sourcesanspro-regular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
  }
#outerwrapper {
    width: 70%;
	margin-left: auto;
	margin-right: auto;
} 
header h1 {
    font-family: 'Trispace-Regular', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

header h2 {
    font-family: 'source_sans_proregular';
    font-weight: normal;
    font-style: italic;
    font-size: 30px;
}

body {
    background-color: #b8d1eb;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
}

main {
    background-color: #c5a98b;
    padding: 10px;
}

ul {
    list-style-type: none;
}


main ul {
    list-style-image: url("../images/tomato.png");
}

.floatleft { 
float: left;
margin-right: 3%;
}

.floatright {
float: right;
margin-left: 3%;
}

main, footer { 
clear: both;
}

footer {
    background-color: rgb(168, 93, 43);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: .75em;
}